/* Reset de estilos */
html, body, ul, ol, li, h1, h2, h3, h4, h5, h6, p, img, figure, figcaption, blockquote, dl, dd {
    margin: 0;
    padding: 0;
    
    color: white; /* Altera a cor do texto para branco */     
  }

  .logo img {
    max-width: 50%; /* Defina o tamanho desejado aqui */
  }
  
  /*logotipo do su*/
  .logo-container{
    
    max-width: 300px;
   
  }
  .logotipo {
    float: left;
    margin-right: 20px; /* Adicione uma margem à direita para separar a logo dos outros elementos */
  }
  .logotipo img {
    width: 50px; /* Defina a largura desejada */
    height: auto; /* A altura será ajustada automaticamente de acordo com a largura */
  }
  

    /* Estilos para ajustar o vídeo ao tamanho da tela */
    html, body {
      height: 100%;
      margin: 0;
      padding: 0;
      
    }
    #video-background {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover; /* Ajusta o tamanho do vídeo para cobrir toda a área */
      z-index: -1;
    }
    #content {
      position: relative;
      z-index: 1;
      /* Adicione outros estilos de posicionamento e estilização para o conteúdo da página */
    }


    #moving-image {
      position: absolute;
      top: 0;
      left: 0;
      animation: moveImage 5s linear infinite; /* Define a animação para mover a imagem */
      width: 100px; /* Ajuste o tamanho da imagem conforme necessário */
    }
    
    @keyframes moveImage {
      0% {
        transform: translateX(0); /* Início da animação - posição inicial da imagem */
      }
      100% {
        transform: translateX(100%); /* Fim da animação - posição final da imagem */
      }
    }

  /*logo acima da ceção*/
  .logo {
    display: block;
    max-width: 100px;
    margin: 0 auto 2rem;
    /*filter: invert(1);*/
  }
  

/*centralizar o conteudo ceção*/
#hero {
  position: relative;
  height: 50vh;
  text-align: center;
}

#hero .container {
  position: relative;
  z-index: 2;
}

#hero .text-container {
  /*display: inline-block;*/
  position: relative;
  padding: 2rem 1rem; /* Diminua o espaçamento nas laterais aqui */
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
  border-radius: 10px; /* Adicione o valor desejado para o raio das bordas */
}
/*logotipo do su*/
.logo-container{
    
  max-width: 100%;
 
}
  
  
   /*Estilos gerais */
  body {
    font-family: Arial, sans-serif;
    font-size: 16px;
    line-height: 1.6;
    color: #333;
      margin: 0;
      padding: 0;
      /*overflow: hidden;*/
      font-family: Arial, sans-serif;
  font-size: 16px;
  line-height: 1.6;
  color: #333;
  margin: 0;
  padding: 0;
  min-height: 100vh; /* Adicione um estilo de altura mínima para permitir a rolagem */
}

  
  
  
  header {
    background-color: #0e2741;
    padding: 20px 0;
  }
  
  nav {
    text-align: center;
  }
  
  nav a {
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
  }
  
  section {
    padding: 80px 0;
    text-align: center;
  }
  
  h1 {
    font-size: 36px;
    margin-bottom: 20px;
  }
  
  h2 {
    font-size: 28px;
    margin-bottom: 20px;
  }
  
  h3 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  p {
    margin-bottom: 20px;
  }
  
  .btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #0366d6;
    color: #fff;
    text-decoration: none;
    border-radius: 4px;
    transition: background-color 0.3s ease;
  }
  
  .btn:hover {
    background-color: #1f6feb;
  }
  
  .service {
    margin-bottom: 40px;
  }
  
  .service img {
    max-width: 100%;
    margin-bottom: 10px;
  }
  
  .plan {
    margin-bottom: 40px;
  }
  
  form input,
  form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
  }
  
  form button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #0366d6;
    color: #fff;
    text-align: center;
    border: none;
    border-radius: 4px;
    transition: background-color 0.3s ease;
  }
  
  form button:hover {
    background-color: #1f6feb;
  }
  
 
  
  /*pagina serviços*/

  header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    background-color: #05041d;
  }
  
  .logo-container {
    float: left;
     /* Defina a largura fixa desejada para o contêiner da logo */
  }
  
  .logo-container img {
    max-width: 100%;
    height: auto;
    
  }
  
  
  
  
  /*Pagina serviço*/
  .servico {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .servico img {
    width: 300px;
    margin-right: 10px;
  }
  
  .servico h2 {
    font-size: 20px;
    color: #333;
    margin-bottom: 10px;
  }
  
  .servico p {
    font-size: 16px;
    color: #777;
  }
  .scroll-button {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 999;
    padding: 10px;
    border: none;
    background-color: #333;
    color: #fff;
    cursor: pointer;
  }
  
  .scroll-button:hover {
    background-color: #555;
  }
  body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
  }
  
  main {
    flex: 1;
  }
  
  footer {
    background-color: #05041d;
    padding: 20px;
    text-align: center;
  }
  
  .footer-content {
    max-width: 960px;
    margin: 0 auto;
  }
  
  .footer-content p {
    margin-bottom: 10px;
  }
  
  .footer-content nav a {
    margin-left: 10px;
  }
  